<div style="direction: rtl !important; text-align: right" dir="rtl">
    <p> לכבוד הרשות המקומית {{issuerName}}</p>
    <br>
    <p> הנכם מתבקשים לבצע הסבה של דוח {{noticeNumber}} עבור רכב עם לוחית רישוי {{vehicleRegistration}}.</p>
    <br>
    <p>מ {{ownerName}} ח.פ {{ownerIdentifier}}</p>
    <br>
    <p>ל {{targetName}} ח.פ פ {{targetIdentifier}}</p>
    <br>
    <p>
        בברכה<br>
        אור גולדגמר<br>
        טל' 054-4757841<br>
        פקס' 077-31833017<br>
        רח' ניל"י 1 ראשון לציון<br>
    </p>
</div>
